<h2>Create post</h2>
<div class="subjects new pl-3">
 
  <%= link_to("<< Back to Post", posts_path, :class => 'back-link')%>
  <%= form_for(@post) do |f| %>
  <!-- alternative and discribtive way to write the above code is "form_for(@subject, :url => subjects_path, :method=> 'post' ) do |f| %>-->
    <%= render(:partial => 'form', :locals => {:f => f})%>
  
  <%end%>
</div>